/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Outfit', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    background-color: hsl(217, 54%, 11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 375px;
    max-width: 1440px;
}
.u-centered{
    background-color: hsl(216, 50%, 16%);
    display: flex;
    width: 100%;
    max-width: 300px;
    flex-direction:column;
    border-radius: 5%;
    box-shadow: 0px 15px 10px 10px hsl(217, 56%, 8%);
}

div .img-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card_image img{
    width: 90%;
    border-radius: 5%;
    margin: 5%;
}
.card_image img{
    position: relative;
}
div .color_eye{
    position:absolute;
    background-color:hsl(178, 100%, 50%, 60%) ;
    width: 270px;
    height: 270px;
    border-radius: 5%;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
div .color_eye:hover{
    opacity: 1;
    cursor: pointer;
}
div .color_eye img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2em;
}

h1{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    margin-left: 1em;
    margin-bottom: 0.8em;
    font-size: 18px;
}

h1:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
.main-p{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    margin-left: 1em;
    margin-bottom: 1em;
}
.svg-p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto 5%;
    padding-bottom: 20px;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}
p svg{
    margin-right: 5px;   
}
.ETH{
    display: flex;
}
.ETH div p{
    margin: auto 10px;
    color: hsl(178, 100%, 50%);
    font-weight: 400;
}

.Days{
    display: flex;
}
.Days div p{
    margin: auto 10px;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.footer-icon{
    margin: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
div .circle-white{
    width: 2.2em;
    height: 2.2em;
    background-color: hsl(0, 0%, 100%);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

div .circle-white img{
    width: 2em;
}

div .footer-icon p {
    margin-left: 10px;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}
div .footer-icon p span:hover {
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}

.footer-icon p span{
    color: hsl(0, 0%, 100%);
}

.attribution{
    margin-top: 2em;
}
